<!DOCTYPE html>
<html ng-app="listeApp">
<head>
    <meta charset="utf-8">
    <title>Liste de courses</title>
    <link rel="stylesheet" href="/css/angular-material.min.css">
    <link href="css/icon_family=Material+Icons.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/liste.js"></script>
</head>
<body ng-controller="ListeCtrl">

<md-toolbar class="md-tall">
    <span flex><!-- Juste pour faire du vide --></span>
    <h1><span style="margin-left:2%">El toolos de la faisaciòn dela listà dell courses</span></h1>
</md-toolbar>

<% if not @errormsg.empty? %>
    <md-toolbar class="md-accent">
        <%= @errormsg %>
    </md-toolbar>
<% end %>

<div layout="row" flex>
    <md-card flex="30">
        <md-card-header style="width: 95%" layout="column">
            <div layout="row" layout-sm="column" layout-align="end" style="width: 100%">
                <div layout="row">
                    <% if @errormsg.empty? %>
                    <md-button class="md-primary md-raised" ng-click="showPromptSave($event)" >
                            Save Liste
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="showPromptLoad($event)" >
                            Load Liste
                    </md-button>
                    <% end %>
                </div>
            </div>
        </md-card-header>
        <md-card-content>
            <md-input-container class="md-block">
                <label><h2>Liste</h2></label>
                <div ng-bind-html="liste_html" flex ></div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>Texte libre</label>
            <textarea ng-model="extras_txt" md-select-on-focus></textarea>
            </md-input-container>
        </md-card-content>
    </md-card>

    <div >
        <md-card>
            <md-card-title><span class="md-headline">Nombre de jours:</span></md-card-title>
            <md-card-content>
                <md-select ng-model="nb_jours" ng-change="joursChanged()" placeholder="Nb jours">
                    <md-option ng-selected="{{n == nb_jours}}" ng-repeat="n in range_jours_default" ng-value="n">
                        {{n}}
                    </md-option>
                </md-select>
            </md-card-content>
        </md-card>
        <md-list style="padding:0px">
            <div ng-repeat="jour in range_jours track by $index" md-ink-ripple="false" md-ni-ink="true">
                <md-card>
                    <md-card-title><span class="md-headline"> Jour {{$index+1}} </span></md-card-title>
                    <md-card-content>
                        <div layout="column" >
                            <span class="md-subhead">Matin</span>
                            <div layout="row" flex>
                                <md-input-container flex="15">
                                    <input type="number" max="100" ng-model="gens_par_matin[$index]" ng-change="updateListe()">
                                </md-input-container>
                                <md-input-container>
                                    <md-select ng-model="recette_matin_par_jour[$index]" ng-change="updateListe()" placeholder="Recette matin">
                                        <md-option ng-value="{{null}}">---</md-option>
                                        <md-option ng-repeat="recette in recettes_matin" ng-value="recette.name">{{recette.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <span class="md-subhead">Dejeuner</span>
                            <div layout="row" flex >
                                <md-input-container flex="15">
                                    <input type="number" max="100" ng-model="gens_par_dejeuner[$index]" ng-change="updateListe()">
                                </md-input-container>
                                <md-input-container>
                                    <md-select ng-model="recette_dejeuner_par_jour[$index]" ng-change="updateListe()" placeholder="Recette Dejeuner">
                                        <md-option ng-value="{{null}}">---</md-option>
                                        <md-option ng-repeat="recette in recettes" ng-value="recette.name">{{recette.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <span class="md-subhead">Diner</span>
                            <div layout="row" flex>
                                <md-input-container flex="15">
                                    <input type="number" max="100" ng-model="gens_par_diner[$index]" ng-change="updateListe()">
                                </md-input-container>
                                <md-input-container>
                                    <md-select ng-model="recette_diner_par_jour[$index]" ng-change="updateListe()" placeholder="Recette Diner">
                                        <md-option ng-value="{{null}}">---</md-option>
                                        <md-option ng-repeat="recette in recettes" ng-value="recette.name">{{recette.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-list>
    </div>
    <md-card flex layout-align="start start">
    <md-card-header layout-align=""><span class="md-headline">Extras</span></md-card-header>
    <md-card-content>
        <md-list layout="column">
            <md-checkbox ng-repeat="e in extras" ng-model="e.enabled" ng-change="updateListe()">{{e.name}}</md-checkbox>
        </md-list>
    </md-card-content>
    </md-card>
</div>

</body>
</html>
