<md-dialog aria-label="Selection">
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>Selectionner une liste de courses</h2>
            <md-select ng-model="liste_select">
                <md-option ng-repeat="n in load_liste" ng-value="n" >{{n.name}} - {{n.date}}</md-option>
            </md-select>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button md-autofocus ng-click="loadcancel()">
            Cancel
        </md-button>
        <md-button md-autofocus ng-click="loadanswer()">
            Charger la liste
        </md-button>
    </md-dialog-actions>
</md-dialog>
